body{ 
       background: #031321; 


}


@media screen and (max-width: 767px) {
       body{ 
              background: #031321; 
       } 
       .container{
             max-width: 350px;
       }
}
